/* css初始化 */


/* 清除标签的内外边距 */
*{
    margin: 0;
    padding: 0;
    /* 盒子模型 */
    box-sizing: border-box;
}
/* 去掉列表前面的符号 */
li{
    list-style: none;
}
/* 去掉a标签的下划线 */
a{
    text-decoration: none;
}
img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}
/* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
button {
    cursor: pointer
}
/* 清除浮动 */
.clearfix:after{
    /*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
    }
    .clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
    }