*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #f3f5f7;
}
/* 版心 */
.bx{
    margin: auto;
    width: 1200px;
}
.header{
    width: 100%;
    height: 101px;
}
.header .box{
    height: 101px;
}
.header .box img{
    float: left;
    margin: 30px 0 29px 0;
}
.header .box ul{
    float: left;
    margin: 42px 85px 29px 70px;
    width: 246px;
	height: 30px;
}
.header .box ul li{
    float: left;
    margin-right: 24px;
    height: 30px;
}
.header .box ul li:last-child{
    margin-right: 0;
}
.header .box ul li a{
    margin: 0 9px 12px 9px;
    font-size: 18px;
	color: #050505;
}
.header .box ul li:hover{
    border-bottom: 2px solid #00a4ff;
}
.header .search{
    float: left;
    margin: 31px 31px 30px 0;
    width: 412px;
	height: 40px;
    border: 1px solid #00a4ff;
}
.header .search input{
    float: left;
    padding-left: 21px;
    width: 361px;
	height: 38px;
    border: 0;
    outline: none;
}
.header .search input::placeholder{
    font-size: 14px;
	color: #bfbfbf;
}
.header .search button{
    float: right;
    width: 49px;
	height: 38px;
    background-image: url(./images/btn.png);
    border: 0;
    font-size: 0;
}
.header .user{
    float: left;
    margin: 35px 6px 36px 0;
    width: 30px;
	height: 30px;
    background-image: url(./images/user.png);
}
.header .user h6{
    margin: 9px 0 10px 36px;
    width: 81px;
	height: 14px;
    line-height: 14px;
	font-size: 14px;
	color: #666666;
}

/* 轮播图 */
.figure{
    width: 100%;
    height: 420px;
	background-color: #1c036c;
}
.figure .banner2{
    height: 420px;
    background-image: url(./images/banner2.png);
}
.figure .banner2 .course{
    float: left;
    padding-top: 12px;
    padding-left: 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}
.figure .banner2 .course ul li{
    width: 170px;
    height: 44px;
    line-height: 44px;
}
.figure .banner2 .course ul li a{
    font-size: 14px;
	color: #ffffff;
}
.figure .banner2 .course ul li a span{
    float: right;
    margin-right: 21px;
}
.figure .banner2 .course ul li a:hover{
    color: #00b4ff;
}
.figure .banner2 .mycourse{
    float: right;
    margin: 50px 0 70px 0;
    width: 228px;
	height: 300px;
	background-color: #ffffff;
}
.figure .banner2 .mycourse h3{
    width: 228px;
	height: 48px;
    background-color: #9bceea;
    text-align: center;
    font-size: 18px;
	line-height: 48px;
	color: #ffffff;
}
.figure .banner2 .mycourse ul{
    margin: auto;
    width: 192px;
    height: 189px;
}
.figure .banner2 .mycourse ul li{
    padding: 18px 28px 19px 1px;
    width: 192px;
    height: 59px;
    border-bottom: 2px solid #e5e5e5;
}
.figure .banner2 .mycourse ul li h5{
    font-size: 14px;
	color: #4e4e4e;
}
.figure .banner2 .mycourse ul li h6{
	font-size: 12px;
	color: #a5a5a5;
}
.figure .banner2 .mycourse .off{
    margin: auto;
    width: 200px;
	height: 41px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 41px;
}
.figure .banner2 .mycourse .off a{
    font-size: 16px;
	color: #00a4ff;
}

/* 精品推荐 */
.products{
    margin-top: 8px;
    height: 60px;
	background-color: #ffffff;
	box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
}
.products h4{
    float: left;
    width: 132px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.products h4 a{
    font-size: 16px;
    color: #00a4ff;
}
.products ul li{
    float: left;
    padding: 21px 0;
    width: 132px;
    height: 60px;
    text-align: center;
}
.products ul li a{
    display: block;
    width: 132px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #bfbfbf;
}
.products h5{
    float: right;
    margin: 21px 26px 21px 0;
}
.products h5 a{
    font-size: 14px;
    color: #00a4ff;
}

/* 推荐 */
.tj{
    margin-top: 37px;
    height: 595px;
}
.tj h5{
    float: left;
    width: 80px;
	height: 19px;
    line-height: 19px;
    font-weight: 400;
	font-size: 20px;
	color: #494949;
}
.tj h6{
    float: right;
    margin-right: 31px;
    width: 48px;
	height: 11px;
    font-weight: 400;
	font-size: 12px;
	color: #a5a5a5;
}
.tj ul{
    float: left;
    margin-top: 6px;
    height: 570px;
}
.tj ul li{
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    width: 228px;
	height: 270px;
	background-color: #ffffff;
}
.tj ul li:nth-child(5n){
    margin-right: 0;
}
.tj ul li a{
    float: left;
    width: 228px;
	height: 270px;
}
.tj ul li a:hover{
	background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}
.tj ul li img{
    float: left;
    width: 228px;
}
.tj ul li h5{
    float: left;
    margin: 25px 20px 20px 24px;
    width: 184px;
	height: 32px;
    font-weight: 400;
    font-size: 14px;
	color: #050505;
}
.tj ul li h6{
    float: left;
    margin: 0 84px 28px 23px;
    width: 121px;
	height: 12px;
    font-size: 12px;
    color: #999999;
}
.tj ul li h6 span{
    color: #ff7c2d;
}

/* 编程入门 */
.in{
    margin-top: 38px;
    height: 433px;
}
.in h5 a{
    float: left;
    width: 80px;
	height: 19px;
	font-size: 20px;
	font-weight: 400;
	color: #494949;
}
.in ul{
    float: left;
    margin: 5px 351px 21px 351px;
    width: 338px;
	height: 15px;
}
.in ul li{
    float: left;
    margin-right: 70px;
    width: 32px;
    height: 16px;
    line-height: 16px;
}
.in ul li a{
    float: left;
    width: 32px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
	font-weight: 400;
	color: #868686;
}
.in ul li:last-child{
    margin-right: 0;
}
.in ul li a:hover{
    color: #00a4ff;
}
.in h6 a{
    float: right;
    margin-right: 31px;
    width: 48px;
	height: 11px;
	font-size: 12px;
	font-weight: 400;
	color: #a5a5a5;
}
.in .sidebar{
    float: left;
    margin-right: 15px;
    width: 228px;
	height: 392px;
}
.in .top{
    float: left;
    margin-bottom: 23px;
    width: 957px;
	height: 100px;
}
.in .courses{
    float: left;
    width: 957px;
    height: 270px;
}
.in .courses ul{
    float: left;
    margin: 0;
    width: 957px;
    height: 270px;
}
.in .courses ul li{
    float: left;
    margin-right: 15px;
    width: 228px;
	height: 270px;
    background-color: #ffffff;
}
.in .courses ul li a{
    float: left;
    width: 228px;
	height: 270px;
}
.in .courses ul li a:hover{
    box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}
.in .courses ul li:last-child{
    margin-right: 0;
}
.in .courses ul li img{
    float: left;
    width: 228px;
}
.in .courses ul li h5{
    float: left;
    margin: 25px 20px 20px 24px;
    width: 184px;
	height: 32px;
    font-weight: 400;
    font-size: 14px;
	color: #050505;
}
.in .courses ul li h6{
    float: left;
    margin: 0 84px 28px 23px;
    width: 121px;
	height: 12px;
    font-size: 12px;
    color: #999999;
}
.in .courses ul li h6 span{
    color: #ff7c2d;
}
.teacher{
    margin-top: 40px;
    height: 310px;
}
.teacher h5 a{
    float: left;
    width: 140px;
	height: 19px;
	font-size: 20px;
	font-weight: 400;
	color: #494949;
}
.teacher ul{
    float: left;
    margin: 5px 351px 21px 291px;
    width: 338px;
	height: 15px;
}
.teacher ul li{
    float: left;
    margin-right: 70px;
    width: 32px;
    height: 16px;
    line-height: 16px;
}
.teacher ul li a{
    float: left;
    width: 32px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
	font-weight: 400;
	color: #868686;
}
.teacher ul li:last-child{
    margin-right: 0;
}
.teacher ul li a:hover{
    color: #00a4ff;
}
.teacher h6 a{
    float: right;
    margin-right: 31px;
    width: 48px;
	height: 11px;
	font-size: 12px;
	font-weight: 400;
	color: #a5a5a5;
}
.teacher .cs{
    float: left;
    width: 1200px;
    height: 270px;
}
.teacher .cs ul{
    float: left;
    margin: 0;
    width: 1200px;
    height: 270px;
}
.teacher .cs ul li{
    float: left;
    margin-right: 15px;
    width: 228px;
	height: 270px;
    background-color: #ffffff;
}
.teacher .cs ul li a{
    float: left;
    width: 228px;
	height: 270px;
}
.teacher .cs ul li a img{
    float: left;
    width: 228px;
}
.teacher .cs ul li a:hover{
    box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}
.teacher .cs ul li:last-child{
    margin-right: 0;
}
.teacher .cs ul li h5{
    float: left;
    margin: 25px 20px 20px 24px;
    width: 184px;
	height: 32px;
    font-weight: 400;
    font-size: 14px;
	color: #050505;
}
.teacher .cs ul li h6{
    float: left;
    margin: 0 84px 28px 23px;
    width: 121px;
	height: 12px;
    font-size: 12px;
    color: #999999;
}
.teacher .cs ul li h6 span{
    color: #ff7c2d;
}

/* 底部 */
.bottom{
    margin-top: 40px;
    width: 100%;
    height: 417px;
    background-color: #ffffff;
}
.bottom .boxs{
    float: left;
    padding-top: 33px;
    padding-left: 21px;
    width: 426px;
    height: 417px;
    /* background-color: rebeccapurple; */
}
.bottom .boxs h1{
    margin-bottom: 25px;
    width: 195px;
	height: 41px;
}
.bottom .boxs h6{
    margin-bottom: 15px;
    width: 426px;
	height: 30px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #666666;
}
.bottom .boxs button{
    width: 120px;
	height: 36px;
	border: 1px solid #00a4ff;
    background-color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #00a4ff;
}
.bottom .bx .bt{
    float: left;
    margin: 33px 31px 15px 218px;
}
.bottom .bx .bt li{
    float: left;
    margin-right: 146px;
    font-size: 16px;
	font-weight: 400;
	color: #333333;
}
.bottom .bx .bt li:last-child{
    margin-right: 0;
}
.bottom .bx .gy{
    float: left;
    margin-left: 218px;
    margin-right: 117px;
    width: 48px;
	height: 105px;
}
.bottom .bx .gy li a{
    float: left;
    width: 48px;
    font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
}
.bottom .bx .zn{
    float: left;
    margin-left: 60px;
    margin-right: 116px;
    width: 96px;
	height: 105px;
}
.bottom .bx .zn li a{
    float: left;
    width: 96px;
    font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
}
.bottom .bx .hb{
    float: left;
    width: 48px;
	height: 42px;
}
.bottom .bx .hb li a{
    float: left;
    width: 48px;
    font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
}